/* variables */

:root {
  --primary: var(--override-primary, 202);
  --secondary: calc(var(--primary) + 120);
  --terciary: calc(var(--primary) + 240);
  --contrast: calc(var(--primary) + 180);
  --saturation: 90%;
  --spot: 98%;
  --falloff-step: -29%;
  --backdrop: hsl(var(--primary) 5% calc(var(--spot) + calc(3 * var(--falloff-step))));
  --fill: hsl(var(--primary) 10% var(--spot));
  --highlight: hsl(var(--primary) var(--saturation) calc(var(--spot) + var(--falloff-step)));
  --unit: 1.5rem;
  --multiplier: 1.5;
  /* timings */
  --short: 300ms;
  --mid: calc(3 * var(--short));
  --long: calc(3 * var(--mid));
  --font-sans: sans-serif;
  --font-width: 95;
  --font-size: calc(1.4vmin + 5pt);
  font-size: var(--font-size);
  font-family: var(--font-sans);
}

/* colors */
.spotlight { color: var(--fill); }
.highlight { color: var(--highlight); }
.bg-backdrop { background-color: var(--backdrop); }
.hover-highlight:hover { color: var(--highlight); }
.bf-blur { backdrop-filter: blur(.8); }
.bf-invert-20 { backdrop-filter: brightness(20%); }
.mbm-burn { mix-blend-mode: color-burn; }
.mbm-screen { mix-blend-mode: screen; }
@media (prefers-color-scheme: light) {
  :root {
    --spot: 2;
    --falloff-step: 25%;
  }
}

/* font */

.lh-copy { line-height: 1.5em; }
.lh-title { line-height: 1.15em; }
.tc { text-align: center; }
.tr { text-align: right; }
.writing-vlr { writing-mode: vertical-lr; }
.uppercase { text-transform: uppercase; }
.f-2 { font-size: 1.5em; }

/* layout */

.list { list-style: none; }
.absolute { position: absolute; }
.relative { position: relative; }
.sticky { position: sticky; }
.fixed { position: fixed; }
.df { display: flex; }
.dg { display: grid; }
.db { display: block; }
.dn { display: none; }
.dib { display: inline-block; }
.column { flex-direction: column; }
.justify-center { justify-content: center; }
.justify-around { justify-content: space-around; }
.align-start { align-content: flex-start; }
.js-end { justify-self: flex-end; }
.flex-wrap { flex-wrap: wrap; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-visible { overflow: visible; }
.fit-contain { object-fit: contain; }
.fit-cover { object-fit: cover; }
.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }
.z0 { z-index: 0;}
.z1 { z-index: 1;}

/* height & width */

.w-80 { width: 80%; }
.w-100 { width: 100%; }
.w-2 { width: calc(var(--unit) * 2); }
.w-5 { width: calc(var(--unit) * 5); }
.w-9 { width: calc(var(--unit) * 9); }
.h-ex { height: 1ex; }
.h-2 { height: calc(var(--unit) * 2); }
.h-5 { height: calc(var(--unit) * 5); }
.h-9 { height: calc(var(--unit) * 9); }
.min-h-9 { min-height: calc(var(--unit) * 9); }
.h3 { height: calc(var(--unit) * 3); }
.h-100vh { height: 100vh; }

/* spacing */

.m0 { margin: 0; }
.mh2 { margin-left: 1rem; margin-right: 1rem; }
.mv2 { margin-top: 1rem; margin-bottom: 1rem; }
.mb2 { margin-bottom: 1rem; }
.mt2 { margin-top: 1rem; }
.pl0 { padding-left: 0; }
.pb0 { padding-bottom: 5em; }
.ph2 { padding-left: 1rem; padding-right: 1rem; }
.pl2 { padding-left: 1rem; }
.pt2 { padding-top: 1rem; }
.p2 { padding: calc(var(--unit) * 2); }
.p3 { padding: calc(var(--unit) * 3); }
.g1 { gap: calc(var(--unit) * 1); }
.g2 { gap: calc(var(--unit) * 2); }
.g3 { gap: calc(var(--unit) * 3); }

/* transition and animation */

.ts-p3d { transform-style: preserve-3d; }
.to-center { transform-origin: center; }
.to-top { transform-origin: inherit top; }
.to { transition-property: opacity; }
.t-short { transition-duration: var(--short); }
.t-ease { transition-timing-function: ease; }
.perspective-full { perspective: 700vmax; }
.bv-hidden { backface-visibility: hidden; }


/* utilities */

.o-0 { opacity: 0; }
.o-8 { opacity: .8; }
.clip { clip: rect(0 0 0 0); }
.dbg *:nth-child(odd) { outline: red dashed 1px; }
.dbg *:nth-child(even) { outline: blue dashed 1px; }
.mbn-sides { margin-bottom: calc(var(--side-height) / var(--side-count)) }
.ss-mandatory { scroll-snap-type: mandatory; }
.ss-center { scroll-snap-align: center; }

/* element defaults */

/* keyframes */

@keyframes animateTransform {
  from {
    transform:  var(--transform-from);
  }
  to {
    transform:  var(--transform-to);
  }
}

/* BAD BOY HACKS */

@media (orientation: portrait) {
  main > div {
    grid-template-columns: 1fr !important;
    grid-template-areas: 'images';
  }
}
@media (prefers-color-scheme: light) {
  .mbm-screen { mix-blend-mode: multiply; }
}
